body, input, select, textarea {
	font-family:Arial,Geneva,sans-serif;
}

body, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, ul {
	margin:0;
	padding:0;
}

body {
	font-size:76%;
	line-height:1.2;
	background:#dfe9f4;
}
img {
	border-style: none;
}

ul,li,input,p,h3,.infoSectionBody{
	background:white;
}

#wrapper {
	width:320px;
}

ul {
	list-style-type: none;
}

#summary, #payment, #address {
	border:1px solid #999999;
	clear:right;
}

.red {
	color:red;
}

.smallPrint {
	color:#666666;
	font-size:0.9em;
}

.clearfix, .cf {
	display:inline-block;
}

.miniData {
	width:100%;
}

.miniData p {
	color:#383838;
	font-size:0.9em;
	font-weight:700;
	padding-bottom:0.4em;
	text-align:left;
	width:100%;
}


dl.deliveryAddress dd {
	display:inline;
	font-size:0.9em;
	font-weight:700;
	margin:0 0.3em 0 0;
	padding:0;
}

dl.deliveryAddress {
	color:#333333;
	margin:0;
	padding:0;
}

dl.deliveryAddress dt {
	font-size:1em;
}

dl.miniOrderSummary {
	clear:both;
	color:#333333;
	font-size:0.9em;
	height:100%;
	margin:10px 0 0;
	overflow:hidden;
	padding:0;
}

dl.miniOrderSummary .highlight {
	color:#CC0000;
	font-weight:700;
}

dl.miniOrderSummary dt {
	float:left;
	margin:0 0 0.8em;
	width:18em;
}

dl.miniOrderSummary dd {
	display:block;
	margin:0 0 0.8em;
	text-align:right;
}

.miniGuidePrice {
	border-bottom:1px dashed #333333;
}

strong {
	font-size:1.3em;
}

.highlight {
	color:#cc0000;
	font-weight:700;
}

li {
	margin:0 0 0.4em;
}

li label {
	float:left;
	width:8em;
}

label.longlabel{
	width:11em;
}

input.shortinput{
	width:10em;
}

#cardExpiryDate li.expDateColumn {
	float:left;
	height:100%;
	overflow:hidden;
	padding-left:0.1em;
	width:6em;
}

span.expDate {
	float:left;
	margin-top:1.35em;
	width:8em;
}
li.expDateColumn select {
	margin-right:0.5em;
}

#cardIssueNumber {
	width:53px;
}

input, select, textarea {
	font-size:1em;
}

.infoSection {
	margin-top:5px;
	margin-left:2px;
	max-width: 314px;
}

.infoSectionHeader {
	background:url("imgs/basketHeaderGrad.gif") repeat-x scroll left bottom transparent;
	height:2.2em;
	margin:0 0.1em 0 0;
	padding:0 0.5em;
}

.infoSectionBody {
	padding:0.5em;
	color:#333333;
	clear:both;
}

#acceptableCreditCards {
	margin-bottom:10px !important;
	margin-left: auto;   
	margin-right: auto;
}

.address ul li{
	padding:0px;
	margin:0px;
}

h3 {
	font-size:1em;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom:1em;
}

h2 {
	color:#004D9C;
	margin-bottom:auto;
	padding-top:0.2em;
}

h2 {
	font-size:1.2em;
}

.cardHdlrAddressDtls {
	margin-top:0.8em;
}

.cardHdlrAddressLbl {
	float:left;
	width:8.8em;
}
.address {
	margin-bottom:0.8em;
	display:block;
	float:right;
	width:15.9em;
}

.contactDtls{
	clear:right;
}

.centerImage {
	display: block;
	margin-left: auto;   
	margin-right: auto;
}

.confirmButton {
	width:50%;
	display:block;
	float:right;
	margin:1em;
}
